.nav-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  transition: .5s ease;
  font-size: 16px;
}

.stickied-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 16px;
  position: fixed;
  top: 30px;
  color: black;
  transition: .5s ease;
}