.whole-header {
  position: fixed;
  z-index: 20;
}

.header-image {
  top: 0;
  background-image: url('../assets/iceland_header_pic.JPG');
  width: 100vw;
  height: 100px;
  background-size: cover;
  background-position-y: 29%;
}

.nav-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  z-index: 3;
  top: 100px;
}

.header {
  background-color: #0c1b23;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  display: flex;
  z-index: 3;
  transition: .5s ease;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo-link {
  cursor: pointer;
}

.logo-icon {
  display: block;
  float: left;
  font-size: 16px;
  padding: 4px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-size: contain;
  margin-left: 20px;
  border-radius: 100%;
  background: #d1e6e6;
}

.logo-icon:hover {
  background: #cecece;
}

.header a {
  color: #d1e6e6;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 10px 15px;
  border-right: 1px solid #6f6d6d;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #484747;
}

.header li {
  float: left;
}

.header .menu {
  clear: none;
  float: right;
  max-height: none;
}

.header .menu-icon {
  display: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-in-out-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 100%;
  height: 100vh;
  overflow: hidden;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



@media (max-width: 768px) {
  .whole-header {
    height: 300px;
    z-index: 10;
    position: static;
  }
  .header-image {
    width: 100%;
    height: 300px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-box {
    width: 100%;
    postion: fixed;
    z-index: 10;
  }

  .header {
    display: block;
  }

  .hidden-header {
    display: none;
  }
  /* menu */

  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-in-out-out;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .header li {
    width: 100%;
    display: flex;
    justify-content: center;
}

  .header li a {
    border-bottom: 1px solid #6f6d6d;
    border-right: none;
  }

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 20px 20px;
    position: relative;
    user-select: none;
  }

  .navver {
    position: relative;
    transition: .2s ease-out;
    margin-bottom: 20px;
  }

  .nav-out {
    right: 500px;
  }

  .nav-item-in-place {
    right: 0px;
  }
}
