.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: center;
}

.small-header {
  height: 200px;
}

.c-a {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin: 30px auto 15px;
}

.b-a {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin: 0 auto 60px;
}

.really {
  font-size: 40px;
  margin: 80px auto 20px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}


@media (max-width: 48em) {
  .c-a {
    font-size: 30px;
    margin: 30px auto 5px;
  }

  .b-a {
    font-size: 60px;
    margin: 20px auto 10px;
  }

  .really {
    font-size: 20px;
    margin: 20px auto 5px;
  }
}