.home-page {
  width: 100%;
  height: 1000px;
  background: #000000;
  color: #fff;
  padding-top: 185px;
  text-align: center;
}

.name-outline {
  border: solid 1px;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.inner-outline {
  border: solid 1px;
  width: 100%;
}

.date {
  font-size: 3em;
  margin: 40px auto -30px;
}

.names {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 3.8em;
  margin: auto;
}

.name-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chels {
  text-align: right;
}

.aaron {
  text-align: left;
}

.ampersand {
  font-size: 4.5em;
  font-style: italic;
  margin: 0 25px;
}

.coordinates {
  font-size: 2em;
  margin: 30px auto 20px;
}

.windy {
  font-size: 1em;
  margin-bottom: 30px;
}


@media (max-width: 1050px) {
  .date {
    margin-bottom: 0;
  }

  .names {
    flex-direction: column;
  }

  .ampersand {
    font-size: 1em;
    width: 100%;
    margin: auto;
  }

  .chels, .aaron {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .chels, .aaron {
    font-size: .7em;
  }
}


@media (max-width: 48em) {
  .home-page {
    padding-top: 75px;
  }
}