.events-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #0c1b23;
  color: #d1e6e6;
  padding-top: 165px;
  padding-bottom: 75px;
  text-align: center;
}

.invited {
  width: 80%;
  margin: 0 auto 20px;
  font-family: 'Playfair Display', serif;
}

.event-box {
  margin: 20px auto 50px;
}

.event-event {
  text-decoration: underline;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.info-info {
  font-weight: 700;
}

.event-circle {
  margin: auto;
  border: 1px solid;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  padding: 65px 30px 0;
}

@media (max-width: 768px) {
  .events-page {
    padding-top: 75px;
  }

  .event-circle {
    height: 240px;
    width: 240px;
    padding: 20px;
    padding-top: 28px;
  }
}