.picture-page {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #0c1b23;
  color: #d1e6e6;
  padding-top: 165px;
  padding-bottom: 200px;
  text-align: center;
}

.our-story {
  width: 80%;
  margin: 20px auto;
  font-family: 'Playfair Display', serif;
}

.test-pic-div {
  margin: 100px auto
}

.li-0 {
  height: auto;
  /* max-height: 600px; */
  margin: 0 10px;
}

.slide-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 600px;
}

.awssld__content {
  background-color: #0c1b23;
}


@media (max-width: 48em) {
  .picture-page {
    padding: 0;
  }

  .slides-holder {
    overflow: scroll;
  }

  .slide-nav-btn {
    display: none;
  }
}