.picture-page {
  width: 100%;
  height: 100%;
  background: #000000;
  color: #fff;
  padding-top: 165px;
  padding-bottom: 200px;
  text-align: center;
}

.google-album {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.jx-carousel-title {
  display: none !important;
}

.jx-carousel-arrow {
  opacity: 1 !important;
}


@media (max-width: 48em) {
  .events-page {
    padding-top: 75px;
  }
}